<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>生产计划科管理员</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/user/user.css">
    <link rel="stylesheet" href="../../static/css/user/shopping.css">
</head>

<body>
<div class="main">
    <div th:insert="~{Admin::topbar}"></div>
    <div class="statck-nav">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation">
                <a href="#"th:href="@{/pps}">订单</a>
            </li>
            <li role="presentation">
                <a href="#"th:href="@{/pps-restorhous}">库存</a>
            </li>
            <li role="presentation">
                <a href="#"th:href="@{/pps-plan}">生产计划</a>
            </li>
        </ul>
    </div>
    <div class="item-detail">
        <h3>生产计划</h3>
        <div class="detail-tab">
            <ul class="nav nav-tabs" style="float: left">
                <li role="presentation" class="active"><a href="#">计划列表</a></li>
            </ul>
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    新增计划
                </button>
            </div>
        </div>


        <div class="item-detail-main">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <td>商品名称</td>
                    <td>商品数量</td>
                    <td>生产日期</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${plan}">
                    <td th:text="${p.p_name}">{{商品名称}}</td>
                    <td th:text="${p.quantity}">{{商品数量}}</td>
                    <td th:text="${p.p_date}">{{生产日期}}</td>
                    <td>
                        <a href="#" data-toggle="modal" th:id="${p.p_id}" onclick="showid(this)" data-target="#change">修改</a>
                        <a th:href="@{/del-plan/}+${p.p_id}">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr style="color: #40E0D0">
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">新增计划</h4>
            </div>
            <form th:action="@{/create-plan}" method="post">
            <div class="modal-body">
                <div>
                    <label for="select-pro">选择商品</label>
                    <input type="text" id="select-pro" list="pro-list" name="name">
                    <datalist id="pro-list">
                        <option value="千层蛋糕盒子（抹茶豆乳草莓奶油）">
                        <option value="抹茶红豆乳酪软欧包">
                        <option value="安德莉亚巧克力曲奇">
                        <option value="奶茶咸奶盖珍珠蛋糕">
                        <option value="奶酥草莓乳酪软欧包">
                    </datalist>
                </div>

                <div>
                    <label for="num-pro">请输入数量</label>
                    <input type="text" id="num-pro" name="num">
                </div>

                <div>
                    <label for="date-pro">请选择生产日期</label>
                    <input type="date" id="date-pro" name="date">
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">添加</button>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="change" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" >新增计划</h4>
            </div>
            <form th:action="@{/create-plan}" method="post">
                <div class="modal-body">
                    <input type="hidden" name="p-id" id="p-id">
                    <div>
                        <label for="select-pro">选择商品</label>
                        <input type="text" list="pro-list" name="c-name">

                    </div>

                    <div>
                        <label for="num-pro">请输入数量</label>
                        <input type="text"  name="c-num">
                    </div>

                    <div>
                        <label for="date-pro">请选择生产日期</label>
                        <input type="date"  name="c-date">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="../../static/js/index.js"></script>
<script src="../../static/js/user/shopping.js"></script>
<script>
    function showid(self) {
        var id = self.id;
        $("#p-id").val(id);
    }
</script>
</body>

</html>