<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>销售</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/user/user.css">
</head>

<body>
<div class="main">
    <div th:insert="~{Admin::topbar}"></div>
    <div class="statck-nav">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation">
                <a href="#"th:href="@{/sale}">订单</a>
            </li>
            <li role="presentation" class="active">
                <a href="#"th:href="@{/sale-user}">客户</a>
            </li>
        </ul>
    </div>
    <div class="item-detail">
        <h3>客户
            <span>
                <form method="post" th:action="@{/sale-search-user}">
                    <div>
                        <input type="text"  name="search-name" class="form-control user-search" placeholder="请输入客户名称" style="float: left;">
                        <button class="btn btn-default" type="submit">搜索</button>
                    </div>
                </form>
            </span>
        </h3>

        <div class="detail-tab">
            <ul class="nav nav-tabs" style="float: left">
                <li role="presentation" class="active"><a href="#">客户列表</a></li>
            </ul>
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#create">
                    新增客户
                </button>
            </div>
        </div>


        <div class="item-detail-main">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <td>客户名称</td>
                    <td>客户编码</td>
                    <td>登录账号</td>
                    <td>联系人</td>
                    <td>地址</td>
                    <td>级别</td>
                    <td>电话</td>
                    <td>邮箱</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="u:${user}" th:id="user-+${u.u_id}">
                    <td th:text="${u.u_name}">{{客户名称}}</td>
                    <td th:text="${u.u_id}">{{客户编码}}</td>
                    <td th:text="${u.phone}">{{登录账号}}</td>
                    <td th:text="${u.contact_name}">{{联系人}}</td>
                    <td th:text="${u.address}">{{地址}}</td>
                    <td th:text="${u.u_level}">{{级别}}</td>
                    <td th:text="${u.phone}">{{电话}}</td>
                    <td th:text="${u.email}">{{邮箱}}</td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#change" th:id="change-+${u.u_id}"
                        onclick="showUser(this)">修改</a>
                        <a href="#" th:id="del-+${u.u_id}" onclick="delUser(this)">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr style="color: #40E0D0">
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加客户</h4>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{/sale-create-user}">
                    <div class="form-group">
                        <label for="c-username">客户名称</label>
                        <input type="text" class="form-control" id="c-username" name="c-username" placeholder="客户名称">
                    </div>
                    <div class="form-group">
                        <label for="c-contect">联系人</label>
                        <input type="text" class="form-control" id="c-contect" name="c-contect" placeholder="联系人">
                    </div>
                    <div class="form-group">
                        <label for="c-rank">客户级别</label>
                        <input type="text" class="form-control" id="c-rank" name="c-rank" placeholder="客户级别" list="user-rank">
                    </div>
                    <div class="form-group">
                        <label for="c-address">地址</label>
                        <input type="text" class="form-control" id="c-address" name="c-address" placeholder="地址">
                    </div>
                    <div class="form-group">
                        <label for="c-tel">电话</label>
                        <input type="text" class="form-control" id="c-tel" name="c-tel" placeholder="电话">
                    </div>
                    <div class="form-group">
                        <label for="c-email">邮箱</label>
                        <input type="text" class="form-control" id="c-email" name="c-email" placeholder="邮箱">
                    </div>
                    <button type="submit" class="btn btn-default">保存</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="change" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改客户</h4>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{/sale-change-user}">
                    <input type="hidden" id="ch-user-id" name="ch-user-id">
                    <div class="form-group">
                        <label for="ch-username">客户名称</label>
                        <input type="text" class="form-control" id="ch-username" name="ch-username" placeholder="客户名称">
                    </div>
                    <div class="form-group">
                        <label for="ch-contect">联系人</label>
                        <input type="text" class="form-control" id="ch-contect" name="ch-contect" placeholder="联系人">
                    </div>
                    <div class="form-group">
                        <label for="ch-rank">客户级别</label>
                        <input type="text" class="form-control" id="ch-rank" name="ch-rank" placeholder="客户级别" list="user-rank">
                        <datalist id="user-rank">
                            <option value="普通"></option>
                            <option value="VIP"></option>
                            <option value="SVIP"></option>
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="ch-address">地址</label>
                        <input type="text" class="form-control" id="ch-address"  name="ch-address" placeholder="地址">
                    </div>
                    <div class="form-group">
                        <label for="ch-tel">电话</label>
                        <input type="text" class="form-control" id="ch-tel" name="ch-tel" placeholder="电话">
                    </div>
                    <div class="form-group">
                        <label for="ch-email">邮箱</label>
                        <input type="text" class="form-control" id="ch-email"  name="ch-email" placeholder="邮箱">
                    </div>
                    <button type="submit" class="btn btn-default">保存</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="../../static/js/index.js"></script>
<script src="../../static/js/user/user.js"></script>
<script>
    function delUser(self){
        var id = self.id.substring(4);
        $.ajax({
            url:'/saleAjax/delUser',
            type:'post',
            data:'id='+id,
            success:function (re) {
                if(re==="success"){
                    $("#user-"+id).hide();
                }else{
                    alert(re);
                }
            }
        });
    }
    function showUser(self) {
        var id = self.id.toString().substring(7);
        var tdList = $('#user-'+id).children("td");
        $('#ch-username').val(tdList[0].innerHTML);
        $('#ch-contect').val(tdList[3].innerHTML);
        $('#ch-address').val(tdList[4].innerHTML);
        $('#ch-tel').val(tdList[6].innerHTML);
        $('#ch-email').val(tdList[7].innerHTML);
        $('#ch-rank').val(tdList[5].innerHTML);
        $('#ch-user-id').val(tdList[1].innerHTML);
    }
</script>
</body>

</html>